@charset "UTF-8";
/* CSS Document */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper{
	width: 1170px;
	margin: 0 auto;
}

/*josefin slab
regular - 400
semi-bold - 600
bold - 700

Quicksand
regular - 400
bold - 700*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography

	1.1 - Headings

	1.2 - Body Copy

	1.3 - Button

	1.4 - Lists

	1.5 - Table

	1.6 - Form

2.0 - Navigation Menus

	2.1 - Main

	2.2 - Sub

	2.3 - Footer

3.0 - Content

	3.1 - Site Structure

	3.2	- Site Header

	3.3	- Site Footer

4.0 - Media

5.0 - Utility

	5.1 - Text Sizes

	5.2 - Colors

	5.3 - Alignments
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - Typography
-------------------------------------------------------------- */

#home p, .wrapper > p, h2, h3, caption, #btn-turq, .btn-white, nav li, form{
	text-transform: uppercase;
}

#home p, .wrapper > p, h2, h3, caption, footer, nav li, a, td:first-child, th, form{
	color: #432920;
}
	
h2, h3, #products, .wrapper > p, nav{
	text-align: center;
}

/*--------------------------------------------------------------
1.1 - Headings
-------------------------------------------------------------- */

h1{
	margin: 0;
}

h2{
	font: 700 25px 'Josefin Slab', sans-serif;
}

#products h2, #contact h2{
	color: #fff;
}

#about h2{
	margin: 0;
}

h3{
	font: 700 14px 'Quicksand', sans-serif;
	letter-spacing: 2px;
}

#flavors h3{
	text-align: left;
	margin-bottom: 5px;
}

#flavors h2{
	margin-bottom: 50px;
}

h4{
	font: 700 12px 'Quicksand', sans-serif;
}

/*--------------------------------------------------------------
1.2 - Body Copy
-------------------------------------------------------------- */

#home p, .wrapper > p{
	font: 700 30px 'Josefin Slab', sans-serif;
}

#home p{
	background-color: rgba(255, 255, 255, .8);
	padding: 25px 55px 25px 10px;
	letter-spacing: 1px;
	display: inline-block;
	margin-top: 200px;
}

.wrapper > p{
	padding: 50px 200px;
	line-height: 38px;
}

#about p, #products p, #flavors p, #contact header + p{
	text-transform: none;
	line-height: 25px;
}

header p{
	padding: 0 400px;
}

#contact header + p{ /*How do I get submit button for form to move over(select)*/
	padding: 0 400px;
}

footer p, #about p, #products p, #flavors p, #contact header + p{
	font: 400 13px/25px 'Quicksand', sans-serif;
}

/*--------------------------------------------------------------
1.3 - Button
-------------------------------------------------------------- */

a{
	text-decoration: none;
}

nav li a:hover{
	color: #87ded1;
}

#btn-turq{
	background-color: #87ded1;
	padding: 10px 20px;
	color: #fff;
}

#btn-turq:hover{
	background-color: #6fcebe;
}

a[href="tel:+18002225858"]:hover{
	color: #87ded1;
}

.btn-white{
	background-color: #fff;
	padding: 15px 30px;
	color: #87ded1;
	font: 400 13px 'Quicksand', sans-serif;
	margin-top: 50px;
}

#products section:nth-child(3) .btn-white{
	margin-top: 25px;
}

.btn-white:first-child{
	margin-top: 56px;
}

.btn-white:hover{
	background-color: #432920;	
}

/*--------------------------------------------------------------
1.4 - Lists
-------------------------------------------------------------- */

nav li, a, footer ul li{
	list-style: none;
	display: inline-block;
}

nav li{
	font: 600 14px 'Josefin Slab', sans-serif;
	padding: 0 50px;
	vertical-align: middle;
}

#about ul{
	list-style-image: url(../img/cherry.gif);
}

#about ul li{
	font: 400 13px 'Quicksand', sans-serif;
	line-height: 25px;
}

#about .fr{
	margin-right: 150px;
}

/*--------------------------------------------------------------
1.5 - Table
-------------------------------------------------------------- */
table{
	margin-left: 410px;
	border-collapse: collapse;
}

td:first-child, th{
	font: 400 14px 'Josefin Slab', sans-serif;
}

caption{
	font: 600 20px 'Josefin Slab', sans-serif;
	margin: 20px 0;
}

td{
	font: 700 14px 'Josefin Slab', sans-serif;
	color: #fff;
	padding: 5px 20px;
}

td, thead{
	border-bottom: solid 1px #66C6B6;
	border-spacing: 0 10px;
}

tr:last-child td{
	border: none;
}

/*--------------------------------------------------------------
1.6 - Form
-------------------------------------------------------------- */

form{
	font: 400 12px 'Quicksand', sans-serif;
	margin: 0 auto;
}

 fieldset{
	border: none;
	margin: 0;
	padding: 0;
    display: block;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0em;
    -webkit-padding-start: 0em;
    -webkit-padding-end: 0em;
    -webkit-padding-after: 0em;
    min-width: -webkit-min-content;
}

legend{
	display: none;
}

.fl label, form > .fl input{
	display: block;
	text-align: left;
	width: 100%;
}

fieldset:first-of-type label, form p, label[for="message"]{
	font: 700 12px 'Quicksand', sans-serif;
}

textarea[id="message"]{
	padding: 100px 200px;
}

label{
	margin: 15px 0 4px;
}

input{
	padding: 10px 0;
}

input, textarea[id="message"], select{
	background-color: #6fcebe;
}

fieldset.row label, fieldset.row input {
	display: inline-block;
}

:focus {
    outline: #432920 auto 5px;
}

fieldset:first-of-type input, textarea, select {
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    border-width: 2px;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.col-1-3, .col-1-3.fr {
	width: 150px;
}

.col-1-3.fr{
	margin-right: 125px;
}

.col-1-3 input{
	margin-right: 8px;
}

fieldset div {
    display: inline;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: 32px;
	border: 0;
	width: 536px;
	text-indent: 8px;
	background-color: #6fcebe;
	border-radius: 0;
}

#triangle {
	display: inline-block;
	position: relative;
	top: 0;
	left: 0;
}

select + span {
	cursor:pointer;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #432920;
	position: absolute;
	right: 7px;
	top: 12px;
}

legend + p{
	margin: 30px 0 5px;
}

form div.fr p:last-child{
	text-align: right;
	margin: 50px 150px;;
}

form > div.fl{
	margin-top: 15px;
}

/*--------------------------------------------------------------
2.0 - Navigation Menus
-------------------------------------------------------------- */

nav{
	position: fixed;
	top: 0; 
	left: 0;
	background-color: #fff;
	width: 100%;
	z-index: 2;
}

ul{
	padding: 0;
}

/*--------------------------------------------------------------
3.0 - Content
-------------------------------------------------------------- */

/*--------------------------------------------------------------
3.1 - Site Structure
-------------------------------------------------------------- */
.row{
	overflow: auto;
}

.fl{
	float: left;
}

.fr{
	float: right;
}

img [src="img/display-cupcake.jpg"]{
	width: 170px;
} 

#about section.fl{
	width: 500px;
	margin-left: 20px;
}

.circle {
	width: 200px;
	height: 200px;
	background: #fff;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-o-border-radius: 100px;
	-ms-border-radius: 100px;
	border-radius: 100px;
	margin: 20px auto;
}

#products section:first-of-type, #products section:nth-of-type(2), #products section:last-of-type{
	width: 250px;
}

#products section:nth-of-type(2){
	margin-left: 200px;
}

form .fr{
	width: 575px;
}

#flavors p{
	width: 250px;
	margin: 0 40px 20px 0;
}

footer section{
	width: 300px;
}

footer section:nth-of-type(2){
	margin-left: 50px;
}

/*--------------------------------------------------------------
4.0 - Media
-------------------------------------------------------------- */

#home{
	background: url(../img/hero.jpg) center center;
	background-size: cover;
	padding: 50px 0;
}

#products section:first-of-type .circle{
	background: #fff url(../img/product-one.png) no-repeat center;
}

#products section:nth-of-type(2) .circle{
	background: #fff url(../img/product-three.png) no-repeat center;
}

#products section:last-of-type .circle{
	background: #fff url(../img/product-two.png) no-repeat center;
}

#products section:first-of-type .circle, #products section:nth-of-type(2) .circle, #products section:last-of-type .circle{
	-moz-background-size: 100px;
	-webkit-background-size: 100px;
	-o-background-size: 100px;
	-ms-background-size: 100px;
	background-size: 100px;
}

footer ul li{
	list-style: none;
	display: inline-block;
	padding: 0;
}

ul span{
	display: none;
}

footer ul li a{
	width: 25px;
	height: 25px;
	margin: 0 10px;
}

footer ul li:first-child a{
	background: url("../img/icon-fb.png") no-repeat 0 0;
}

footer ul li:nth-child(2) a{
	background: url("../img/icon-tumbler.png") no-repeat 0 0;
}

footer ul li:nth-child(3) a{
	background: url("../img/icon-pin.png") no-repeat 0 0;
}

footer ul li:nth-child(4) a{
	background: url("../img/icon-linkedin.png") no-repeat 0 0;
}

footer ul li:last-child a{
	background: url("../img/icon-google.png") no-repeat 0 0;
}

footer ul li a:hover{
	background-position: 0 -25px;
}

/*--------------------------------------------------------------
5.0 - Utility
-------------------------------------------------------------- */

/*--------------------------------------------------------------
5.2 - Colors
-------------------------------------------------------------- */

.bg-lgt-turq{
	background-color: #87ded1;
	padding: 50px 0 100px;
}

div.bg-lgt-turq{
	padding: 200px 0 100px;
}

footer{
	background-color: #6fcebe;
}

#about{
	padding-bottom: 50px;
}

#flavors, footer{
	padding: 50px 0;
}



